
<div class="container">
  <form action="/search" method="post" id="searchrecipe">
  <div class="input-group p-2">
    <input type="text" class="form-control" placeholder="Enter keyword..." aria-label="Enter keyword to search" name="search">
  
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" value="Submit" form="searchrecipe">Search</button>
    </div>
  </form>
</div>


  <div class="row p-2">
  <% recipes.forEach(recipe => { %>
    <a class="col-sm-4" href="/recipe/<%= recipe.id %>">
    <div class="card">
      <div class="card-body">
        <img class="card-img" src="<%= recipe.image %>">
        <h5 class="card-title text-center"><%= recipe.name %></h5>
      </div>
    </div>
  </a>
    <% }); %>
  </div>
</div>

