<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CookCircle</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/cookcircle.css">
    </head>

    <body>
        <nav class="navbar navbar-light bg-primary">
            <a class="navbar-brand" href="/">
              <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              CookCircle
            </a>
        </nav>

        <%- body %>
    </body>

</html>